<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <!-- Blog Post -->
                {{#each movie.results}}
                    <div class="blog-post padding-bottom-20">
                        <!-- Blog Item Header -->
                        <div class="blog-item-header">
                            <!-- Title -->
                            <h2>
                                <a href="/posts-{{this.id}}">
                                    {{this.original_title}}</a>
                            </h2>
                            <div class="clearfix"></div>
                            <!-- End Title -->
                            <!-- Date -->
                            <div class="blog-post-date">
                                <a href="#">{{this.release_date}}</a>
                            </div>
                            <!-- End Date -->
                        </div>
                        <!-- End Blog Item Header -->

                        <!-- Blog Item Body -->
                        <div class="blog">
                            <div class="clearfix"></div>
                            <div class="blog-post-body row margin-top-15">
                                <div class="col-md-5">
                                    <img class="margin-bottom-20" src="http://image.tmdb.org/t/p/w185/{{this.poster_path}}" alt="thumb1">
                                </div>
                                <div class="col-md-7">
                                    <p>{{this.overview}}</p>
                                    <!-- Read More -->
                                    <a href="/posts-{{this.id}}" class="btn btn-primary">
                                        Read More
                                        <i class="icon-chevron-right readmore-icon"></i>
                                    </a>
                                    <!-- End Read More -->
                                </div>
                            </div>
                        </div>
                        <!-- Blog Item Details -->
                        <div class="blog-post-details">
                            <!-- Author Name -->
                            Score: <b>{{this.vote_average}}</b>
                            <!-- # of Comments -->
                            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
                                <a href="">
                                    <i class="fa fa-comments color-gray-light"></i>
                                    2 Comments
                                </a>
                            </div>
                            <!-- End # of Comments -->
                        </div>
                        <!-- End Blog Item Details -->
                        <!-- End Blog Item Body -->
                    </div>
                    <!-- End Blog Item -->
                {{/each}}
            </div>

        </div>
        <!-- End Side Column -->
    </div>
</div>
