<!-- === BEGIN CONTENT === -->
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <div class="blog-post">
                    <div class="blog-item-header">
                        <h2>
                            <a href="#">
                                {{movie.original_title}}
                            </a>
                        </h2>
                        <!-- Date -->
                        <div class="blog-post-date">
                            <a href="#">{{movie.release_date}}</a>
                        </div>
                        <!-- End Date -->
                    </div>
                    <div class="blog-post-details">

                        <!-- End Tags -->
                        <!-- # of Comments -->
                        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
                            <a href="">
                                <i class="fa fa-comments color-gray-light"></i>
                                3 Comments
                            </a>
                        </div>
                        <!-- End # of Comments -->
                    </div>
                    <div class="blog-item">
                        <div class="clearfix"></div>
                        <div class="blog-post-body row margin-top-15">
                            <div class="col-md-5">
                                <img class="margin-bottom-20"
                                     src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="image1">
                            </div>
                            <div class="col-md-7">
                                <p></p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    {{movie.overview}}</p>

                                <p>Populatrity: {{movie.popularity}}</p>
                                <p>Vote Count: {{movie.vote_count}}</p>
                                <p>Score: <b>{{movie.vote_average}}</b></p>
                            </div>
                        </div>
                        <div class="blog-item-footer">

                            <!-- Comments -->
                            <div class="blog-recent-comments panel panel-default margin-bottom-30">
                                <div class="panel-heading">
                                    <h3>Comments</h3>
                                </div>
                                <ul class="list-group">

                                    {{#each comment}}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-2 profile-thumb">
                                                    <a href="#">
                                                        <img class="media-object" src="images/profiles/99.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="col-md-10">
                                                    <h4>{{this.comment.name}}</h4>
                                                    <p>{{this.comment.message}}</p>
                                                    <span class="date">
                                                                <i class="fa fa-clock-o color-gray-light"></i>5 hours ago</span>
                                                </div>
                                            </div>
                                            <form action="/reply" method="post">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <input name="id" class="form-control" value="{{this._id}}"
                                                               type="hidden">
                                                        <input placeholder="Name" name="name" class="form-control"
                                                               type="text">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input name="message" class="form-control"
                                                               placeholder="Message">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="btn btn-primary" type="submit">Reply
                                                        </button>
                                                    </div>
                                                </div>


                                            </form>
                                        </li>
                                        <li>

                                            <ul class="list-group">
                                                {{#each this.comment.replies}}
                                                    <li class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-2 profile-thumb">
                                                                Reply
                                                            </div>
                                                            <div class="col-md-8">
                                                                <h4>{{this.name}}</h4>
                                                                <p>{{this.message}}</p>
                                                                <span class="date">
                                                                <i class="fa fa-clock-o color-gray-light"></i>5 hours ago</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                    {{/each}}
                                    <!-- Comment Form -->
                                    <li class="list-group-item">
                                        <div class="blog-comment-form">
                                            <div class="row margin-top-20">
                                                <div class="col-md-12">
                                                    <div class="pull-left">
                                                        <h3>Leave a Comment</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row margin-top-20">
                                                <div class="col-md-12">
                                                    <form action="/create" method="post">
                                                        <label>Name</label>
                                                        <div class="row margin-bottom-20">
                                                            <div class="col-md-7 col-md-offset-0">
                                                                <input name="name" class="form-control" type="text">
                                                            </div>
                                                        </div>
                                                        <input name="movieId" class="form-control" value="{{movie.id}}"
                                                               type="hidden">
                                                        <label>Message</label>
                                                        <div class="row margin-bottom-20">
                                                            <div class="col-md-11 col-md-offset-0">
                                                                <textarea name="message" class="form-control"
                                                                          rows="8"></textarea>
                                                            </div>
                                                        </div>

                                                        <p>
                                                            <button class="btn btn-primary" type="submit">Send Message
                                                            </button>
                                                        </p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Comment Form -->
                                </ul>
                            </div>
                            <!-- End Comments -->
                        </div>
                    </div>
                </div>
                <!-- End Blog Post -->
            </div>
            <!-- End Main Column -->

        </div>
    </div>
</div>
<!-- === END CONTENT === -->